<!-- Implemented by Dexter and Ernest -->

<!DOCTYPE html>
<html lang="en-US">

<head>
  <!-- Firebase Connection -->
  <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase.js"></script>
  <!-- CSS File -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/stylesFlask.css')}}">  
  <meta charset="utf-8">
  <title>InforMe</title>
</head>

<body>

<header> 
	<h1><strong><b>INFORME</b></strong></h1>
	<p style="font-size: 1.2em;"><i>Article summarization made easy!</i></p>
</header>

<div id="SubmissionSection">
	<br><form action="." method="post">
        	<input type="url" id="urlSpef" name="UserUrl" size="100" placeholder="Paste your URL for summarization here."><input type="submit" onclick="storeURL()" value="Submit URL">
	</form><br>
		{% if summ %}
		<section id="SummarySection" width="150" height="150">
		  <h1>{{ title }}</h1>
			<br><p>{{ summ }}</p>
		<p id="articleSummary"></p>
		<br><cite id="citation"></cite>
		</section>
		{% endif %}
</div>

<footer>
	<div id="Footer">
		<p><a href="http://www.reddit.com/r/InforMe">Reddit</a> | <a href="https://www.facebook.com/OfficialInforMe/">Facebook</a> | © 2016 ErnieToads Inc. All rights reserved.</p>
	</div>
</footer>

<script src="app.js"></script>

</body>
</html>
