/* Implemented by Dexter and Ernest */
body {
    background-color: #313034;
}

strong {
	font-family: "Arial", serif;
	color: white;
	font-size: 3em;
}

header {
	text-align: center;
}

p, h1, h2, h3, cite {
	font-family: "Arial", serif;
	color: #7E7E7E;
}

h1 {
	margin-top: 1px;
	text-shadow: 2px 2px #000000;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #313034;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

cite {
	text-align: right;
	display: block;
}

input[type=text], select {
	width: 75%;
    padding: 5px 5px;
    margin: 8px 0px;
    border-radius: 5px;
    border-style: solid;
    border-color: #000000;
    cursor: text;
}

input[type=submit] {
	width: 10%;
    background-color: #7E7E7E;
    color: white;
    margin-left: 15px;
    padding: 5px 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
}

/* -- BODY COMPONENTS (START) -- */
#SummarySection {
  border-radius: 5px;
  border:2px;
  border-style:solid;
  border-color:#000000;
  padding: 5px;
  background: #F2F2F2;
}

#SubmissionSection {
	border-radius: 5px;
	padding: 5px;
	background-color: #3C3B41;
}
/* -- BODY COMPONENTS (END) -- */

/* -- FOOTER COMPONENTS (START) -- */
#Footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: #3C3B41;
  text-align: center;
  font-size: 11px;
  text-align: justify;
}

#AboutColumn {
    float: left;
    padding-left: 25%;
    width: 20%;
    height: 15%;
    margin: 10px;
}

#ContactColumn {
    float: right;
    padding-right: 25%;
    width: 20%;
    height: 15%;
    margin: 10px;
}
/* -- FOOTER COMPONENTS (END) -- */

/* -- CONTACT FORM COMPONENTS (START) -- */
#contact_form {
	width: 100%;
	margin-left: 0;
}

#contact_name {
	width: 75%;
    padding: 5px 5px;
    margin: 0px 0px;
    border-radius: 5px;
    border-style: solid;
    border-color: #000000;
    cursor: text;
}

#contact_email {
	width: 75%;
    padding: 5px 5px;
    margin: 0px 0px;
    border-radius: 5px;
    border-style: solid;
    border-color: #000000;
    cursor: text;
}

#contact_message {
	width: 75%;
    padding: 5px 5px;
    margin: 0px 0px;
    border-radius: 5px;
    border-style: solid;
    border-color: #000000;
    cursor: text;
    vertical-align: top;
    height: 5em;
    resize: none;
    font-family: "Arial", serif;
}

#contact_submit {
	width: 75%;
    background-color: #7E7E7E;
    color: white;
    padding: 5px 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
}

form div + div {
    margin-top: 1em;
}
/* -- CONTACT FORM COMPONENTS (END) -- */
